<h1>Users</h1>

<ul class="list-group">
    <li
      class="list-group-user"
      *ngFor="let user of userList; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveItem(user, i)"
    >
      {{ user.name }}
    </li>
  </ul>
<a routerLink="user/regist" class="btn btn-sm btn-success mb-2">Add User</a>
 <table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Username</th>
            <th style="width: 20%">Email</th>
            <th style="width: 20%">Telephone</th>
            <th style="width: 20%">Description</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.description}}</td>
            <td></td>
             <!-- <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td> -->
        </tr>
        <tr *ngIf="!userList">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table> 